# Test binary, build with `go test -c`
*.test

# Output of the Go coverage tool
*.out

# Coverage artifacts
coverage.zip
cover.json
cover-summary
index.html

# Since we have tooling that uses node
node_modules

.DS_Store

/flow.json

# IDE related files
.idea
.vscode
git
